.form-group.hidden.calendar {
    width: 0;
    margin: 0;
    border: none !important;
    padding: 0;
    position: absolute;

}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}
.input-calendar {
    padding: 0px !important;
    margin-left: 30px;
}
.calendar-row {
    padding: 0;
}
div.input-group.calendar_1{
    margin-left: 15px;
}

div.input-group.calendar_2{
    margin-left: 35px;
}
